<div class="article" id="{{this._id}}">
    <div class="article-header">
        <a href=" {{this.link}}" target="_blank">{{this.title}}</a>
        <div>
            <button class="notes-button btn btn-primary" data-id="{{this._id}}">Notes</button>
            <button class="unsave-button btn btn-danger" data-id="{{this._id}}">Unsave</button>
        </div>
    </div>
    <p>{{this.summary}}</p>
</div>